# Build output
.vs
[Bb]in
[Oo]bj

# Setup tool config
RL2.ModLoader.DevSetup/config

# Packaged files
package

# Sublime text project
*.sublime-workspace
*.sublime-project

# Libraries
lib/*.dll
!lib/Mono*.dll
lib/Mono.Posix.dll
lib/Mono.Security.dll
!lib/RL2.ModLoader*